@model Authentication2.Models.MissionQuestions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MissionQuestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MissionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MissionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MissionQuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
