@model IEnumerable<Authentication2.Models.Missions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresidentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Climate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MissionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MissionID })
        </td>
    </tr>
}

</table>
