@model Authentication2.Models.Missions

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/Content/MissionStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "MissionInfo";
}
<link href="~/Content/MissionStyle.css" rel="stylesheet" />
<!--The breadcrumb shows you the path of views you took to get to the current location. You can choose to go back from this-->
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Missions", "Index", "Missions")</li>
    <li>@Html.DisplayFor(model => model.MissionName)</li>
</ul>
<!--Displays the mission name-->
<div class="jumbotron">
    <h1 class="MissionName">
        <b>@Html.DisplayFor(model => model.MissionName)</b>
    </h1>
</div>
<!--Displays the mission information, and pulls the information from parameters passed-->
<div class="row">
    <div class="col-md-4">
        <h3><b>President's Name</b></h3>
        <h4>@Html.DisplayFor(model => model.PresidentName)</h4>
    </div>
    <div class="col-md-4">
        <h3><b>Mission Address</b></h3>
        <h4>@Html.DisplayFor(model => model.Address)</h4>
    </div>
    <div class="col-md-4">
        <h3><b>Language</b></h3>
        <h4>@Html.DisplayFor(model => model.Language)</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><b>Climate</b></h3>
        <h4>@Html.DisplayFor(model => model.Climate)</h4>
    </div>
    <div class="col-md-4">
        <h3><b>Dominant Religion</b></h3>
        <h4>@Html.DisplayFor(model => model.Religion)</h4>
    </div>
    <div class="col-md-4">
        <h3><b>"A missionary is not called to a place; rather, he or she is called to serve." ~David A. Bednar</b></h3>
    </div>
</div>
<!--Displays the mission flag in the shape of a circle-->
<div><img src="~/Content/Images/@(Model.Picture).png" style="width:100%;" class="img-circle"></div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MissionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresidentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MissionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresidentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Climate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MissionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MissionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MissionID })
        </td>
    </tr>
}

</table>*@
